@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

.instructions-container {
    background-color: #f8f8f8; /* Light grey background */
    border-left: 10px solid teal; /* A colored line to attract attention */
    padding: 20px;
    margin-top: 20px; /* Spacing from other elements */
    margin-left: -8px;
  }
  
  .instructions-heading {
    font-size: 1.25rem;
    font-weight: 500;
    color: #2c3e50; /* Dark color for visibility */
    margin-bottom: 0.5rem;
  }
  
  .instructions-text {
    font-size: 1.3rem;
    font-family: 'Roboto Slab, serif';
    line-height: 0.5;
    color: #34495e;
  }
  